<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Practice Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="index.js" defer></script>
  </head>
  <body>
    <h1>Hello from HTML!</h1>
    <div id="app">
      {{ message }}

      <p></p>
      <button v-on:click="reverseMessage">Reverse Message</button>

      <p>{{ message2 }}</p>
      <input v-model="message2" />

      <p>
        <span v-if="seen"
          >This is a paragraph that will be hidden and unhidden</span
        >
        <button v-on:click="showMore">Show More</button>
      </p>
      <!-- <p>List of animals:</p>
      <div v-for="animal in animals">{{ animal }}</div>
      <input type="text" v-model="newAnimal" />
      <button v-on:click="addAnimal">Add Animal</button>
    </div> -->

    <p><button v-on:click="loadTodos">Load Todos</button></p>
    <div v-for="todo in todos">{{ todo }}</div>
    <!-- 
    <div id="app-6">
      <p>{{ message }}</p>
      <input v-model="message" />
    </div>

    <div id="app-4">
      <ol>
        <li v-for="todo in todos">{{ todo.text }}</li>
      </ol>
    </div> -->
  </body>
</html>
